body {
	margin: 0;
	padding: 20px;
	font-family: Arial;
	color: #333333;
}

img.logo {
	float: left;
	width: 40px;
	height: 50px;
	margin-right: 10px;
	border: none;
}

#header {
	margin-bottom: 20px;
	padding: 10px;
	border: solid 2px #666666;
	background: #113311;
}

#header h1 {
	margin: 0;
	font-size: 1.8em;
}

#header h1 a {
	color: #CCCCCC;
}

#header h2 {
	margin: 0;
	font-size: 1em;
	font-style: italic;
	color: #FFFFFF;
}

#menu {
	clear: left;
	margin-bottom: 20px;
	padding: 5px;
	border: solid 1px #CCCCCC;
	background: #EEEEEE;
	font-size: 0.8em;
}

#menu h1 {
	margin: 0;
	margin-bottom: 5px;
	font-size: 1.2em;
	color: #888888;
	font-variant: small-caps;
	letter-spacing: 1.2pt;
}

#menu ul
, #menu li {
	margin: 0;
	padding: 0;
	padding-left: 10px;
	list-style: none;
}

#content {
	border-left: solid 15px #226622;
	border-right: solid 15px #226622;
	padding-left: 10px;
	padding-right: 10px;
}

#footer {
	margin-top: 20px;
	padding-top: 5px;
	border-top: solid 2px #666666;
	font-size: 0.8em;
	color: #666666;
}

img.photo {
	float: left;
	margin-right: 10px;
	width: 70px;
	height: 70px;
	border: solid 1px #CCCCCC;
}

table {
	margin: 0;
	padding: 0;
	border: double 2px #226622;
}

th {
	padding: 5px;
	background: #226622;
	color: #FFFFFF;
	font-weight: bold;
}

td {
	padding: 5px;
}

div.footer_clear {
	clear: left;
}
