
	<tr><td><a href="profile.php?id=[@profileURL]" target="_blank"><h1>[@username]</h1></a></td></tr>
			<tr>
	<td>	<img src="[@photoURL]" class="photo" alt="[@name]" /></td>
	<td>
		<b>Name:</b> [@name]<br />
		<b>Age:</b> [@age]<br />
		<b>Location:</b> [@location]<br />
	</td>

	<td>
	</td>
	<h3>
	<td><a href="?sel=3&apt=apt&id=[@username]">Accept</a></td>
<td><a href="?sel=3&apt=dec&id=[@username]">Decline</a></td>
</h3>
	</tr>
	<br/><br/><br/>
