
	<tr>
	<td>	<img src="[@photoURL]" class="photo" alt="[@name]" /></td>
	<td><a href="?sel=2&userid=[@profileURL]&seen=1">
		<h1>[@sender]</h1></a>
		<b>Message:</b> [@message]<br />
	</td>
	</tr>
