<head>
<title>Messages</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap-3.3.6-dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>

</head>


	<div style="text-align:[@align]">
	<tr><td><h3 style="text-align:[@align]">
<a  class="[@sender]" onclick="displayProfile(2,'[@profileURL]');">[@sender]</a>

	</h3>


[@message]<br/>[@date]<br/><br/>
</td>
	</tr>
</div>
