<table>
	<tr><td><a onclick="displayProfile(2,'[@profileURL]');" ><h1>[@username]</h1></a></td></tr>
			<tr>
	<td>	<img src="[@photoURL]" class="photo" alt="[@name]" /></td>
	<td>

		<b>Age:</b> [@age]<br />
		<b>Country:</b> [@country]<br />
	</td>
		<td>
					<b>Tag:</b> [@tagi]<br />
		</td>
		<td>

				[@interest]
				</td>
	</tr>
</table>
