<table>
	<tr>
		<td>
			<a  onclick="displayProfile(2,'[@profileURL]');">
				<img src="[@photoURL]" class="photo" alt="[@name]" /><br/>

			</td>


	</tr>
	<tr>
		<td>
			[@username]<br/>
			<b>Age:</b> [@age]<br /></a>
		</td>
	</tr>
</table>
